body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #DCDCDC;
}

*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    color: #9FA8DA;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.header {
    background: url('../img/header.jpg');
    height: 420px;
    position: relative;
}

.icon {
    position: absolute;
    height: 134px;
    width: 134px;
    border-radius: 100%;
    border: 4px solid #DCDCDC;
    margin-top: 324px;
    margin-left: 20px;
}

nav {
    width: 840px;
    float: right;
}

nav ul {
    float: right;
}

nav li {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

nav li a {
    color: #212121;
    margin-right: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    color: #212121;
    margin-top: 50px;
}

.bio p {
    font-size: 21px;
}

article {
    width: calc(540px + 100px);
    position: relative;
    margin: 100px auto;
    display: block;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #7e7b7b, -1px 1px 3px #DCDCDC;
}

h2 {
    font-size: 30px;
    line-height: 140%;
    font-weight: bold;
}

section p {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

footer a {
    margin-left: 25px;
}