/* Este é o CSS do meu site */

/* Textos */

body {
	font-family: arial;
	text-align: center;
	color: #C15B78;

}

h1 {
	background-color: #F6C8CC;
	padding: 20px;
	margin: 60px;
	text-align: center;
	width: 100px;
}

.destaque{
	font-size: 24px;
	font-stretch: 150;
	text-align: right;
}

.pequeno{
	font-size: 20px
	text-align: left;
}