body {
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
	color: #575654;
}

.container {
}

header {
}

.logo {
}

.menu {
    color: #575654;
    text-decoration: none;
}

ul {
    text-align: right;
}

li {
    display: inline-block;
    margin-left: 20px;
}

.banner {
    background-image: url(../img/banner.jpg);
    height: 445.46px;
	/* width: 1128px; */
	left: 0px;
	top: 75.15px;
	border-radius: 0px;
}

.caixa {
	height: 214.81px;
	width: 480px;
	left: 0px;
	top: 121.67px;
	border-radius: 0px;
	background: #00000099;
    color: #FFFFFF;
    display: inline-block;
}

h1 {
    height: 48px;
	width: 437px;
	left: 28px;
	top: 145px;
}

section {
}

article {
}

.imagem-coluna {
	height: 213.82183837890625px;
	width: 264px;
	left: -1px;
	top: 577.1210327148438px;
	border-radius: 0px;
}

h2 {
	height: 30px;
	width: 264px;
	left: -1px;
	top: 817px;
	border-radius: nullpx;
}

/* p {
    height: 115px;
	width: 264px;
	left: -1px;
	top: 912px;
	border-radius: nullpx;
} */

footer {
    height: 18.80px;
	width: 249px;
	left: 0px;
	top: 1104.84px;
    margin-top: 50px;
}